<div id="edit_geo_zone_modal" class="modal map">
  <form method="PUT" action="<%= geo_zones_path %>" id="edit_geo_zone_form" data-remote="true">
    <input type="hidden" id="edit_geo_zone_geom" name="geo_zone[geom]" required>
    <div class="modal-content">
        <h4>Editar Geo Zona</h4>

    <%= render 'shared/error_messages' %>
      <div class="row">
        <div class="input-field col s12">
          <input class="" type="text" id="edit_geo_zone_name" name="geo_zone[name]" required />
          <label class="" for="edit_geo_zone_name">Nombre</label>
        </div>
      </div>
      <div class="row">
        <input type="hidden" name="geo_zone[enter_alert]" value="0">
          <input type="checkbox" id="edit_geo_zone_enter_alert" class="" name="geo_zone[enter_alert]">
          <label for="edit_geo_zone_enter_alert">Genera Alerta Entrada?</label>
      </div>
      <div class="row">
        <input type="hidden" name="geo_zone[exit_alert]" value="0">
          <input type="checkbox" id="edit_geo_zone_exit_alert" class="" name="geo_zone[exit_alert]">
          <label for="edit_geo_zone_exit_alert">Genera Alerta Salida?</label>
      </div>
      <div id="geozones_edit_map">
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="modal-action waves-effect waves-green btn-flat">Guardar</button>
    <a class="modal-action modal-close waves-effect waves-green btn-flat">
      Cerrar
    </a>
  </div>
      </form>

</div>
