<div class="row report_tab" id="report_tab_stop" hidden>
  <div class="col s12">
    <div class="card">
      <div class="card-content ">
        <span class="card-title">Detenciones</span>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s3">
                <i class="material-icons prefix">date_range</i>
                <input class="datepicker_information" type="date" id="report_i_date_stop" name="report_i_date" required/>
                <label class="" for="report_i_date">Fecha inicial</label>
              </div>
              <div class="input-field col s3">
                <i class="material-icons prefix">date_range</i>
                <input class="datepicker_information" type="date" id="report_f_date_stop" name="report_f_date" required/>
                <label class="" for="report_f_date">Fecha final</label>
              </div>


              <div class="input-field col s3">
                <i class="material-icons prefix">time_range</i>
                <input class="timepicker_information_start" type="time" id="report_i_time_stop" name="report_i_time" required/>
                <label class="" for="report_i_time">Hora Inicial</label>
              </div>

              <div class="input-field col s3">
                <i class="material-icons prefix">time_range</i>
                <input class="timepicker_information_final" type="time" id="report_f_time_stop" name="report_f_time" required/>
                <label class="" for="report_f_time">Hora final</label>
              </div>
              <!--<div class="input-field col s3">
                  <i class="material-icons prefix">trending_up</i>
                  <input id="report_i_stop" type="number" class="validate" value="0">
                  <label for="report_i_stop">Velocidad inicial (Km/h)</label>
              </div>-->

              <div class="input-field col s3">
                <i class="material-icons prefix">trending_down</i>
                <input id="report_f_stop" type="number" class="validate" value="0">
                <label for="report_f_stop">Sobre Minutos</label>
              </div>

                <div class="input-field col s3">

                  <select name="imeis[]" id="stops_devices" class="selectize" multiple required>
                    <% (current_user.global_admin? ? Device : current_user.company.devices).all.each do |d| %>
                        <option value="<%= d.imei %>"><%= d.name %></option>
                    <% end %>
                  </select>
                  <label>Unidades</label>
                </div>
              <div class="col s12 right">
                <a class="waves-effect waves-light btn right" id="search_stop_report"><i class="material-icons left">search</i>Buscar</a>
              </div>
            </div>
            <div class="row">
              <table id="stop_reports_table" class="display compact cell-border stripe" cellspacing="0" width="100%">
                <thead>
                <tr>
                  <th>Unidad</th>
                  <th>Conductor</th>
                  <th>Fecha desde</th>
                  <th>Fecha hasta</th>
                  <th>Lugar de Detención</th>
                  <th>Duración</th>
                  <th>Graficar</th>

                </tr>
                </thead>
              </table>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="modal_map_information" class="modal modal-fixed-footer modal_travel_sheet">

  <div class="modal-content">
    <h4>Recorrido en este tramo
      <a href="#!" class="modal-action modal-close waves-effect waves-green  right">
        <i class="material-icons">close</i>
      </a></h4>
    <div class="row">
      <div id="route_map" style="height: 400px;width: 100%"></div>
    </div>
  </div>


  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat">
      Cerrar
    </a>
  </div>

</div>