<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">Gestsol</span>
  <nav class="mdl-navigation">
    <%= link_to destroy_user_session_path, method: :delete, class: 'mdl-navigation__link' do %>
      Salir
    <% end %>
  </nav>
</div>
