<div id="edit_driver_modal" class="modal">
  <form method="PUT" action="<%= drivers_path %>" id="edit_driver_form" data-remote="true">

    <div class="modal-content">
      <h4>Editar Conductor</h4>

      <%= render 'shared/error_messages' %>
      <div class="row">
        <div class="input-field col s12">
          <input class="" type="text" id="edit_driver_name" name="driver[name]" required/>
          <label class="" for="edit_driver_name">Nombre</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input class="" type="text" id="edit_driver_rut" name="driver[rut]" required/>
          <label class="" for="edit_driver_rut">RUT</label>
        </div>
      </div>
      <% if current_user.global_admin? %>
          <div class="row">
            <label>Compañía</label>
            <div class="input-field col s12">
              <select name="driver[company_id]" id="edit_driver_company_id" class="selectize" required>
                <% Company.all.each do |c| %>
                    <option value="<%= c.id %>"><%= c.name %></option>
                <% end %>
              </select>
            </div>
          </div>
      <% end %>

    </div>
    <div class="modal-footer">
      <button type="submit" class="modal-action waves-effect waves-green btn-flat">Guardar</button>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">
        Cerrar
      </a>
    </div>
  </form>

</div>
