<div class="row ">
    <div class="col s12">
        <div id="map_speeds_graph"></div>
      hola
    </div>
</div>
<script>
window.speeds_graph_points = <%= raw(@speeds_graph_points.to_json) %>
</script>